body {
    padding: 1em 1em;
}

section {
    margin: 2em 0em;;
    background-color: rgb(242, 255, 0);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

button {
    width: fit-content;
}